In [1]:
import pandas as pd
import numpy as np 
df=pd.read_csv('./files_for_lab/csv_files/marketing_customer_analysis.csv')

In [2]:
df.shape

(10910, 26)

In [3]:
cols=[]
for c in df.columns:
    cols.append(c.capitalize())
df.columns=cols

In [4]:
df

,Unnamed: 0,Customer,State,Customer lifetime value,Response,Coverage,Education,Effective to date,Employmentstatus,Gender,...,Number of open complaints,Number of policies,Policy type,Policy,Renew offer type,Sales channel,Total claim amount,Vehicle class,Vehicle size,Vehicle type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [5]:
df.dtypes

Unnamed: 0                         int64
Customer                          object
State                             object
Customer lifetime value          float64
Response                          object
Coverage                          object
Education                         object
Effective to date                 object
Employmentstatus                  object
Gender                            object
Income                             int64
Location code                     object
Marital status                    object
Monthly premium auto               int64
Months since last claim          float64
Months since policy inception      int64
Number of open complaints        float64
Number of policies                 int64
Policy type                       object
Policy                            object
Renew offer type                  object
Sales channel                     object
Total claim amount               float64
Vehicle class                     object
Vehicle size                      object
Vehicle type                      object
dtype: object

In [6]:
df.isna().sum()

Unnamed: 0                          0
Customer                            0
State                             631
Customer lifetime value             0
Response                          631
Coverage                            0
Education                           0
Effective to date                   0
Employmentstatus                    0
Gender                              0
Income                              0
Location code                       0
Marital status                      0
Monthly premium auto                0
Months since last claim           633
Months since policy inception       0
Number of open complaints         633
Number of policies                  0
Policy type                         0
Policy                              0
Renew offer type                    0
Sales channel                       0
Total claim amount                  0
Vehicle class                     622
Vehicle size                      622
Vehicle type                     5482
dtype: int64

In [7]:
nulls_df = pd.DataFrame(round(df.isna().sum()/len(df),4)*100)
nulls_df = nulls_df.reset_index()
nulls_df.columns = ['header_name', 'percent_nulls']
nulls_df

                      header_name  percent_nulls
0                      Unnamed: 0           0.00
1                        Customer           0.00
2                           State           5.78
3         Customer lifetime value           0.00
4                        Response           5.78
5                        Coverage           0.00
6                       Education           0.00
7               Effective to date           0.00
8                Employmentstatus           0.00
9                          Gender           0.00
10                         Income           0.00
11                  Location code           0.00
12                 Marital status           0.00
13           Monthly premium auto           0.00
14        Months since last claim           5.80
15  Months since policy inception           0.00
16      Number of open complaints           5.80
17             Number of policies           0.00
18                    Policy type           0.00
19                         Policy           0.00
20               Renew offer type           0.00
21                  Sales channel           0.00
22             Total claim amount           0.00
23                  Vehicle class           5.70
24                   Vehicle size           5.70
25                   Vehicle type          50.25

In [8]:
df=df.drop('Vehicle type',axis=1)

In [9]:
df

,Unnamed: 0,Customer,State,Customer lifetime value,Response,Coverage,Education,Effective to date,Employmentstatus,Gender,...,Months since policy inception,Number of open complaints,Number of policies,Policy type,Policy,Renew offer type,Sales channel,Total claim amount,Vehicle class,Vehicle size
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,40,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,68,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,63,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,27,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,1,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize

In [10]:
df['Effective to date'] = pd.to_datetime(df['Effective to date'], errors='coerce')

In [11]:
df['Effective to date']

0       2011-02-18
1       2011-01-18
2       2011-02-10
3       2011-01-11
4       2011-01-17
           ...
10905   2011-01-19
10906   2011-01-06
10907   2011-02-06
10908   2011-02-13
10909   2011-01-08
Name: Effective to date, Length: 10910, dtype: datetime64[ns]

In [18]:
df['Effective to date'].dt.to_period('M')
df['Effective to date'].dt.strftime('%m/%Y')
df['Month'] = pd.to_datetime(df['Effective to date']).dt.month

In [19]:
df['Month']

0        2
1        1
2        2
3        1
4        1
        ..
10905    1
10906    1
10907    2
10908    2
10909    1
Name: Month, Length: 10910, dtype: int64

In [20]:
filtered=df[df['Month']<=3]

In [21]:
filtered

,Unnamed: 0,Customer,State,Customer lifetime value,Response,Coverage,Education,Effective to date,Employmentstatus,Gender,...,Number of open complaints,Number of policies,Policy type,Policy,Renew offer type,Sales channel,Total claim amount,Vehicle class,Vehicle size,Month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,1
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,1
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,2
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,2
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,2011-01-08,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,1

In [22]:
import time
from datetime import date
today = date.today()
today

datetime.date(2022, 10, 4)